<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liang.ipc">

    <permission
        android:name="com.liang.ipc.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>
    <permission
        android:name="com.liang.ipc.PROVIDER"
        android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.liang.ipc.permission.ACCESS_BOOK_SERVICE"/>
    <uses-permission android:name="com.liang.ipc.PROVIDER"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":remote">
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process="com.liang.ipc.remote">
        </activity>

        <service
            android:name=".messenger.MessengerService"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".messenger.MessengerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>

        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity android:name=".aidl.BookManagerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.liang.ipc.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.liang.ipc.PROVIDER"
            android:process=":provider">
        </provider>

        <activity android:name=".provider.ProviderActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".socket.TCPServerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".socket.TcpClientActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <service
            android:name=".binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".binderpool.BinderPoolActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>